body{
    background-image: url(../horoscope/images/zodiacs.gif);
    background-repeat: no-repeat;
    background-size: 130%;
    margin: 0;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
.months{
    position: relative;
    top: 20px;
    left:550px;
    height: 30px;
}
.days{
    position: relative;
    top: 70px;
    left:369px;
    height: 30px;
}
.btn1{
    position: relative;
    top:120px;
    left:225px;
    height: 40px;
}
h2{
    font-size: 70px;
    color: rgb(74, 158, 255);
    text-align: center;
    position: relative;
    top: 255px;    
    font-weight: bold;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 35px;
    top:275px;
    font-weight: 800;
}
@media all and (min-width:200px) and (max-width:600px){
 body{
     background-size: 600px 1000px;
 }
 #check{
     position: relative;
     left: -170px;
     top: 200px;
 }
 #day{
     position: relative;
     left: -30px;
     top:130px;
 }
 #month{
     position: relative;
     left:150px;
     top: 80px;
     
 }
}

@media all and (min-width:601px) and (max-width:800px){
    body{
        background-size: 1200px 1200px;
        background-color: green;
    }
    #check{
        position: relative;
        left: -20px;
        top: 200px;
    }
    #day{
        position: relative;
        left: 130px;
        top:130px;
    }
    #month{
        position: relative;
        left: 310px;
        top: 80px;
        
    }
}

@media all and (min-width:801px) and (max-width:1200px){

    body{
        background-size: 1200px 1200px;
   
    }
    #check{
        position: relative;
        left: -20px;
        top: 200px;
    }
    #day{
        position: relative;
        left: 130px;
        top:130px;
    }
    #month{
        position: relative;
        left: 310px;
        top: 80px;
        
    }
}